@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  @apply p-0 m-0 max-w-full font-open-sans w-full min-h-full bg-white;
}

.row {
  box-sizing: border-box;
  @apply flex flex-row items-center justify-start w-full;
}

.col {
  box-sizing: border-box;
  @apply flex flex-col items-start justify-start w-full flex-grow;
}

.container {
  @apply w-full flex flex-col;
  height: 100vh;
  box-sizing: border-box;
}

button {
  @apply cursor-pointer;
}

.loading-page {
  @apply fixed top-0 left-0 flex items-center justify-center w-full;
  background: white;
  height: 100vh;
  width: 100vw;
  z-index: 99999999 !important;
}

.loading-page-dark {
  @apply fixed top-0 left-0 flex items-center justify-center w-full;
  background: #353D43;
  height: 100vh;
  width: 100vw;
  z-index: 99999999 !important;
}

.save-loader {
  @apply flex-col;
  z-index: 99999999 !important;
}

.loading-page span {
  @apply text-zinc-600;
}

.loading-page-dark span {
  @apply text-gray-300;
}

.loading-page img {
  @apply h-12;
}

.loading-page-dark img {
  @apply h-12;
}

.loading-page p {
  @apply font-open-sans text-zinc-800 text-2xl font-semibold ml-1;
}

.loading-page-dark p {
  @apply font-open-sans text-white text-2xl font-semibold ml-1;
}

.header-elements {
  @apply flex flex-row items-center;
  pointer-events: all;
}
